# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [128]:
def lesser_of_two_evens(a,b):
    # This function returns the lesser of two given even numbers
    if (a%2==0) and (b%2==0):
        if (a<b): 
            return a
        else: 
            # It returns the second number if (a>b) or (a=b)
            return b
    # This function returns the greater of two given odd numbers
    else:
        if (a>b): 
            return a
        # It returns the second number if (a<b) or (a=b)
        else: 
            return b

In [129]:
# Check
lesser_of_two_evens(2,4)

2

In [64]:
# Check
lesser_of_two_evens(2,5)

5

In [131]:
# Check
# If the two given even numbers are the same:
lesser_of_two_evens(2,2)

2

In [130]:
# Check
# If the two given odd numbers are the same:
lesser_of_two_evens(5,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [151]:
def animal_crackers(text):
    text_list = text.split()
    if (text_list[0][0].lower() == text_list[1][0].lower()): 
        return True
    return False

In [133]:
# Check
animal_crackers('Levelheaded Llama')

True

In [152]:
# Check
# Non case sensitive function
animal_crackers('Levelheaded llama')

True

In [134]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [48]:
def makes_twenty(n1,n2):
    if (n1==20) or (n2==20) or (n1+n2==20): 
        return True
    return False

In [49]:
# Check
makes_twenty(20,10)

True

In [50]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [136]:
def old_macdonald(name):
    name_list = list(name)
    name_list[0] = name_list[0].upper()
    name_list[3] = name_list[3].upper()
    return (''.join(name_list))
    pass

In [137]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [67]:
def master_yoda(text):
    text_list = text.split()
    reversed_text_list = text_list[::-1]
    return(' '.join(reversed_text_list))
    pass

In [68]:
# Check
master_yoda('I am home')

'home am I'

In [69]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [51]:
def almost_there(n):
    if (abs(100-n) <= 10) or (abs(200-n) <= 10): 
        return True
    return False

In [52]:
# Check
almost_there(104)

True

In [53]:
# Check
almost_there(150)

False

In [54]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [42]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i:i+2] == [3,3]: 
            return True
    return False

In [43]:
# Check
has_33([1, 3, 3])

True

In [44]:
# Check
has_33([1, 3, 1, 3])

False

In [45]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [58]:
def paper_doll(text):
    text_list = list(text)
    for i in range(len(text_list)-1):
        text_list[i] = text_list[i]*3
    return(''.join(text_list))

In [59]:
# Check
paper_doll('Hello')

'HHHeeellllllo'

In [60]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppi'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [142]:
def blackjack(a,b,c):
    if (a+b+c) <= 21:
        return (a+b+c)
    else:
        if (a==11 or b==11 or c==11):
            if ((a+b+c)-10) <= 21:
                return ((a+b+c)-10)
            else:
                return 'Bust'
        else:
            return 'Bust'
    pass

In [143]:
# Check
blackjack(5,6,7)

18

In [144]:
# Check
blackjack(9,9,9)

'Bust'

In [145]:
# Check
blackjack(9,9,11)

19

In [147]:
# Check
# Sum = 33, After adjustment = 23 > 21
blackjack(11,11,11)

'Bust'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [194]:
def summer_69(arr):
    sum = 0
    if 6 in arr:
        start = arr.index(6)
        end = arr.index(9)
        del arr[start:end+1]
    for i in range(len(arr)):
        sum = sum + arr[i]
    return sum

In [200]:
# If 6 is followed by more than one 9 
# Assume 6 is followed by a set of 9 (there are no other numbers in between)
def summer_69_2(arr):
    sum = 0
    n = arr.count(9)
    if 6 in arr:
        start = arr.index(6)
        end = arr.index(9)
        del arr[start:end+n]
    for i in range(len(arr)):
        sum = sum + arr[i]
    return sum

summer_69_2([2, 1, 6, 9, 9, 9, 9, 9, 9, 11])

14

In [195]:
# Check
summer_69([1, 3, 5])

9

In [196]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [197]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [198]:
# Check
# Return 0 for no numbers
summer_69([6,7,8,9])

0

In [199]:
# Check
# Return 0 for no numbers
summer_69([])

0

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [106]:
def spy_game(nums):
    list = []
    for i in range(len(nums)):
        if nums[i] == 0 or nums[i] == 7:
            list.append(nums[i])
    if list == [0,0,7]:
        return True
    return False

In [107]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [108]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [105]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [203]:
def count_primes(num):
    counter = 0
    for n in range(2,num+1):
        prime = True
        for i in range(2,n):
            if(n%i == 0):
                prime = False
        if prime:
            counter = counter + 1
    return counter

In [204]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [205]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [206]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!